.header {
    height: 50px;
    font-size: 30px;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    margin-left: 10px;
}

.buttomBorder {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}

.container {
    width: 255px;
    height: 64px;
    overflow: hidden;
    float: left;
}

.photo {
    width: 765px;
    animation: switch 5s ease-out infinite;
}

.photo>img {
    float: left;
    width: 255px;
    height: 64px;
}

@keyframes switch {
    0% {
        margin-left: 10;
    }
    60% {
        margin-left: -265px;
    }
    100% {
        margin-left: -520px;
    }
}